.checkout_product{
    display: flex;
    margin: 20px;
    background-color: white;
}
.checkout_image > img {
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkout_info{
    margin: 10px;
}

.checkout_info > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
        height: 20px;
}

.checkout_rating {
    display: flex;
}
.checkout_title{
    font-size: 17px;
    font-weight: 600;
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 1ps solid lightgray;
}
.checkout_title >h2 {
    padding-left: 20px;

}
.checkout{
    display: flex;
}
.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
        height: 20px;
}